@model IReadOnlyDictionary<string, string>
@{
    ViewData["Title"] = "Delivery Method";
}

<h1>Delivery Method</h1>

<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
    <div class="form-group">
        <label for="code">Delivery Method</label>
        <select class="form-control" name="serviceName">
            @foreach (var method in Model)
            {
                <option value="@method.Key">@method.Value</option>
            }
        </select>
    </div>
    <button type="submit" class=" btn btn-success">Next</button>
</form>