@{
    ViewData["Title"] = "Order is formed";
}

<p>
    Order is formed. We started to collect it to to transfer order to the DeliveryService
</p>

<p>
    <a href="@Url.Action("Index", "Home")">Back to store</a>
</p>