@model IReadOnlyDictionary<string, string>
@{
    ViewData["Title"] = "Payment Method";
}

<h1>Payment Method</h1>

<form action="@Url.Action(nameof(OrderController.StartPayment))" method="post">
    <div class="form-group">
        <label for="serviceName">Payment Method</label>
        <select class="form-control" name="ServiceName">
            @foreach (var method in Model)
            {
                <option value="@method.Key">@method.Value</option>
            }
        </select>
    </div>
    <button type="submit" class=" btn btn-success">Next</button>
</form>